body {
 background: #000000 url("bg.jpg") center center fixed no-repeat;
 background-size: cover;
 color: #FFF;
 text-shadow: 10px 10px 10px black;
}
p{
	background-color: rgba(1, 1, 1, 0.3);
}
h1{
	font-family: SimHei;
}